@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

.male {
    background: deepskyblue;
    border-color: deepskyblue;
}

.male:hover {
    background: rgb(2, 115, 153);
    color: #fff;
}

.female {
    background: rgb(249, 170, 184);
    border-color: rgb(249, 170, 184);
    color: #333;
}

.female:hover {
    background: rgb(247, 120, 142);
    color: #fff;
}